#about {
    //padding-right: 25px;
    //padding-left: 25px;

    @media(min-width: $tablet-width) {
        //padding-right: 15px;
        //padding-left: 15px;
    }

    #hero {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 110px 22px 85px;
        background: no-repeat center/cover url('assets/about/mobile/image-hero-whitecup.jpg');
        border-radius: 10px;
        overflow: hidden;

        @media(min-width: $tablet-width) {
            align-items: start;
            padding: 115px 58px;
            background-image: url('assets/about/tablet/image-hero-whitecup.jpg');
        }

        @media(min-width: $desktop-width) {
            padding: 135px 85px;
            background-image: url('assets/about/desktop/image-hero-whitecup.jpg');
        }

        #hero__image-tint {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4019);
        }

        h3 {
            position: relative;
            z-index: 10;
            color: var(--light-cream);
            font-size: 28px;
            line-height: 28px;

            @media(min-width: $tablet-width) {
                font-size: 32px;
                line-height: 40px;
            }

            @media(min-width: $desktop-width) {
                font-size: 40px;
                line-height: 48px;
            }
        }

        p {
            position: relative;
            z-index: 10;
            color: var(--light-cream);
            font-size: 15px;
            line-height: 25px;
            margin-top: 20px;
            text-align: center;
            opacity: 0.8;

            @media(min-width: $tablet-width) {
                max-width: 400px;
                text-align: left;
            }
        }
    }

    #our-commitment {
        margin-top: 120px;
        text-align: center;


        @media(min-width: $tablet-width) {
            margin-top: 150px;
            text-align: left;
        }

        @media(min-width: $desktop-width) {
            margin-top: 170px;
            padding: 0 85px;
        }

        #our-commitment__image {
            padding-top: 123%;
            overflow: hidden;
            border-radius: 8px;
            background: no-repeat center/cover url('assets/about/mobile/image-commitment.jpg');

            @media(min-width: $tablet-width) {
                padding-top: 167%;
                margin-right: 30px;
                background-image: url('assets/about/tablet/image-commitment.jpg')
            }

            @media(min-width: $desktop-width) {
                padding-top: 117%;
                margin-right: 60px;
                background-image: url('assets/about/desktop/image-commitment.jpg');
            }
        }

        #our-commitment__content {
            @media(min-width: $desktop-width) {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            h3 {
                line-height: 48px;
                margin-top: 48px;
    
                @media(min-width: $tablet-width) {
                    margin-top: 5px;
                }
    
                @media(min-width: $desktop-width) {
                    font-size: 40px;
                    line-height: 48px;
                }
            }
    
            p {
                margin-top: 28px;
                font-size: 15px;
    
                @media(min-width: $desktop-width) {
                    font-size: 16px;
                }
            }
        }
    }

    #uncompromising-quality {
        background-color: var(--dark-grey-blue);
        padding: 0 22px 62px;
        margin-top: 200px;
        border-radius: 10px;
        text-align: center;
        background: no-repeat center/cover url('assets/about/mobile/bg-quality.png');

        @media(min-width: $tablet-width) {
            padding: 0 56px 67px;
            margin-top: 300px;
            background-image: url('assets/about/tablet/bg-quality.png');
        }

        @media(min-width: $desktop-width) {
            margin-top: 255px;
            padding: 85px 85px 175px;
            text-align: left;
            background-image: url('assets/about/desktop/bg-quality.png');
        }


        #uncompromising-quality__image {
            position: relative;
            top: -78px;
            padding-top: 56%;
            overflow: hidden;
            border-radius: 8px;
            background: no-repeat center/cover url('assets/about/mobile/image-quality.jpg');

            @media(min-width: $tablet-width) {
                width: 570px;
                margin: 0 auto;
                height: 320px;
                top: -160px;
                background-image: url('assets/about/tablet/image-quality.jpg');
            }

            @media(min-width: $desktop-width) {
                position: absolute;
                top: -180px;
                max-width: 445px;
                height: 475px;
                width: 445px;
                padding-top: 0;
                right: 0;
                background-image: url('assets/about/desktop/image-quality.jpg');
            }
        }

        h3 {
            margin-top: -15px;
            color: var(--light-cream);
            font-size: 28px;
            line-height: 28px;

            @media(min-width: $tablet-width) {
                font-size: 32px;
                line-height: 48px;
                margin-top: -100px;
            }

            @media(min-width: $desktop-width) {
                margin-top: 0;
                font-size: 40px;
                line-height: 48px;
            }
        }

        p {
            margin-top: 23px;
            font-size: 15px;
            line-height: 25px;
            color: var(--light-cream);

            @media(min-width: $tablet-width) {
                margin: 23px 20px 0;
            }

            @media(min-width: $desktop-width) {
                font-size: 16px;
                margin-left: 0;
                margin-top: 30px;
            }
        }
    }

    #our-headquarters {
        margin-top: 120px;
        text-align: center;

        @media(min-width: $tablet-width) {
            text-align: left;
        }

        @media(min-width: $desktop-width) {
            margin-top: 170px;
            padding: 0 85px;
        }

        h4 {
            color: var(--gray);
        }

        #our-headquarters__list {
            .our-headquarters__item {
                margin-top: 80px;

                &:first-child {
                    margin-top: 70px;

                }

                @media(min-width: $tablet-width) {
                    &:first-child {
                        margin-top: 80px;
                    }
                }
                
                .our-headquarters__image-wrap {
                    height: 52px;
                    width: 52px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;

                    @media(min-width: $tablet-width) {
                        margin: 0;
                    }
                }

                h3 {
                    margin-top: 40px;
                    font-size: 28px;

                    @media(min-width: $tablet-width) {
                        font-size: 24px;
                    }

                    @media(min-width: $desktop-width) {
                        font-size: 32px;
                        line-height: 36px;
                    }
                }

                p {
                    margin-top: 20px;
                }
            }
        }
    }
}