$tablet-width: 767px;
$desktop-width: 991px;

:root {
    --dark-cyan: #0E8784;
    --dark-grey-blue: #333D4B;
    --pale-orange: #FDD6BA;
    --light-cream: #FEFCF7;
    --grey: #83888F;
    --fraunces: 'Fraunces', serif;
    --barlow: 'Barlow', sans-serif;
    --tablet-width: 767px;
}

body {
    font: 16px/26px var(--barlow);
}

.title-alternate-big {
    font: 900 150px/72px var(--fraunces);
    text-transform: lowercase;
    color: var(--grey);
}

h1 {
    font: 900 72px/72px var(--fraunces);
    color: var(--dark-grey-blue);
}

h2 {
    font: 900 40px/48px var(--fraunces);
    color: var(--dark-grey-blue);
}

h3 {
    font: 900 32px/36px var(--fraunces);
    color: var(--dark-grey-blue);
}

h4 {
    font: 900 24px/32px var(--fraunces);
    color: var(--dark-grey-blue);
}

a {
    font: bold 12px/15px var(--barlow);
    text-transform: uppercase;
    color: var(--grey);

    &:hover {
        color: var(--dark-grey-blue);
        text-decoration: none;
    }
}

button {
    padding: 14px 0;
    width: 217px;
    text-align: center;
    font: 900 18px/25px var(--fraunces);
    color: white;
    background-color: var(--dark-cyan);
    border-radius: 6px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #66D2CF;
    }

    &.disabled {
        cursor: default;
        background-color: #E2DEDB;
    }
}


.big-selection {
    width: 228px;
    height: 250px;
    padding: 32px 28px;
    border-radius: 8px;
    background-color: #F4F1EB;
    color: var(--dark-grey-blue);
    text-align: left;
    cursor: pointer;

    h4 {
        margin-bottom: 24px;
    }

    &:hover,
    &:focus {
        background-color: var(--pale-orange);
    }

    &.active {
        background-color: var(--dark-cyan);
        color: var(--light-cream);

        h4 {
            color: white;
        }
    }
}

.accordion {
    .accordion-item {
        border: none;
        .accordion-button {
            font: 900 40px/48px var(--fraunces);
            color: var(--grey);
            background-color: white;
            box-shadow: none;

            &::after {
                background-image: url('../assets/plan/desktop/icon-arrow.svg');
            }

            &:hover {
                background-color: inherit;

                &::after {
                    background-image: url('../assets/plan/desktop/icon-arrow-active.svg');
                }
            }

            &.disabled {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }
}

header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    background-color: white;
    z-index: 100;

    @media(min-width: $tablet-width) {
        position: static;
        padding: 45px 0 ;
    }

    &.header--active {
        #header__close-menu {
            display: block;
        }
        #header__open-menu {
            display: none;
        }
        nav {
            display: flex;
        }
    }
    nav {
        display: none;
        position: fixed;
        left: 0;
        top: 77px;
        height: 100vh;
        width: 100vw;
        z-index: 100;
        background: linear-gradient(to bottom, white, 80%, transparent);
        flex-direction: column;
        align-items: center;

        @media(min-width: $tablet-width) {
            display: flex;
            position: static;
            height: auto;
            width: auto;
            flex-direction: row;
            background: transparent;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            font: 900 24px/32px var(--fraunces);
            color: var(--dark-grey-blue);
            text-transform: none;
            margin-top: 32px;
            flex-direction: column;

            &:first-child {
                margin-left: 0;
            }

            @media(min-width: $tablet-width) {
                margin-top: 0;
                margin-left: 32px;
                font: bold 12px/15px var(--barlow);
                text-transform: uppercase;
                color: var(--grey);
                letter-spacing: 0.92px;
            }
        }
    }

    #header__close-menu {
        display: none;
    }

    #header__open-menu {
        @media(min-width: $tablet-width) {
            display: none;
        }
    }

}

footer {
    margin-top: 120px;
    background-color: var(--dark-grey-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 55px;
    padding-bottom: 45px;
    margin-bottom: 75px;

    @media(min-width: $desktop-width) {
        flex-direction: row;
        justify-content: space-between;
        padding: 55px 85px 45px;
        margin-top: 200px;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 45px;

        @media(min-width: $tablet-width) {
            margin-top: 30px;
            flex-direction: row;
        }

        @media(min-width: $desktop-width) {
            margin-top: 0;
            flex: 1;
            padding-left: 100px;
        }

        a {
            margin-top: 24px;
            letter-spacing: 0.92px;

            &:first-child {
                margin-top: 0;
            }

            &:hover {
                color: white;
            }

            @media(min-width: $tablet-width) {
                margin-top: 0;
                margin-left: 30px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    #footer__socials {
        margin-top: 45px;

        @media(min-width: $tablet-width) {
            margin-top: 65px;
        }

        @media(min-width: $desktop-width) {
            margin-top: 0;
        }

        img {
            margin-left: 22px;

            &:first-child {
                margin-left: 0;
            }
        }
    }
}

/* BOOTSTRAP OVERRIDES */

@media(min-width: 1200px) {
    .container {
        max-width: 1280px
    }
}