/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../bootstrap/css/bootstrap.min.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

:root {
  --dark-cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --grey: #83888F;
  --fraunces: 'Fraunces', serif;
  --barlow: 'Barlow', sans-serif; }

body {
  font: 16px/26px var(--barlow); }

.title-alternate-big {
  font: 900 150px/72px var(--fraunces);
  text-transform: lowercase;
  color: var(--grey); }

h1 {
  font: 900 72px/72px var(--fraunces);
  color: var(--dark-grey-blue); }

h2 {
  font: 900 40px/48px var(--fraunces);
  color: var(--dark-grey-blue); }

h3 {
  font: 900 32px/36px var(--fraunces);
  color: var(--dark-grey-blue); }

h4 {
  font: 900 24px/32px var(--fraunces);
  color: var(--dark-grey-blue); }

nav a {
  font: bold 12px/15px var(--barlow);
  color: var(--grey);
  text-transform: uppercase;
  cursor: pointer; }

button {
  padding: 14px 0;
  width: 217px;
  text-align: center;
  font: 900 18px/25px var(--fraunces);
  color: white;
  background-color: var(--dark-cyan);
  border-radius: 6px;
  border: none;
  cursor: pointer; }
  button:hover {
    background-color: #66D2CF; }
  button.disabled {
    cursor: default;
    background-color: #E2DEDB; }

.big-selection {
  width: 228px;
  height: 250px;
  padding: 32px 28px;
  border-radius: 8px;
  background-color: #F4F1EB;
  color: var(--dark-grey-blue);
  text-align: left;
  cursor: pointer; }
  .big-selection h4 {
    margin-bottom: 24px; }
  .big-selection:hover, .big-selection:focus {
    background-color: var(--pale-orange); }
  .big-selection.active {
    background-color: var(--dark-cyan);
    color: var(--light-cream); }
    .big-selection.active h4 {
      color: white; }

.accordion .accordion-item {
  border: none; }
  .accordion .accordion-item .accordion-button {
    font: 900 40px/48px var(--fraunces);
    color: var(--grey);
    background-color: white;
    box-shadow: none; }
    .accordion .accordion-item .accordion-button::after {
      background-image: url("../assets/plan/desktop/icon-arrow.svg"); }
    .accordion .accordion-item .accordion-button:hover {
      background-color: inherit; }
      .accordion .accordion-item .accordion-button:hover::after {
        background-image: url("../assets/plan/desktop/icon-arrow-active.svg"); }
    .accordion .accordion-item .accordion-button.disabled {
      opacity: 0.5;
      pointer-events: none; }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0; }
  header nav {
    display: none; }
  header #header__close-menu {
    display: none; }

#hero {
  padding: 90px 24px;
  text-align: center;
  background: url("../assets/home/mobile/image-hero-coffeepress.jpg");
  border-radius: 10px; }
  #hero h1 {
    color: white;
    font-size: 40px;
    line-height: 40px; }
  #hero p {
    display: block;
    margin-top: 20px;
    color: var(--light-cream); }
  #hero button {
    margin-top: 35px; }

#our-collection {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #our-collection .title-alternate-big {
    font-size: 40px;
    line-height: 72px;
    background-color: #f3ec78;
    background-image: linear-gradient(to bottom, var(--grey), white);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  #our-collection #our-collection__list .our-collection__item {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #our-collection #our-collection__list .our-collection__item:first-child img {
      margin-top: 36px; }
    #our-collection #our-collection__list .our-collection__item img {
      margin-top: 48px;
      height: 151px; }
    #our-collection #our-collection__list .our-collection__item h4 {
      margin-top: 20px; }
    #our-collection #our-collection__list .our-collection__item p {
      margin-top: 15px;
      text-align: center; }

#why-choose-us {
  margin-top: 120px; }
  #why-choose-us #why-choose-us__top {
    background-color: var(--dark-grey-blue);
    border-radius: 10px 10px 0 0;
    padding: 65px 22px 26px;
    text-align: center; }
    #why-choose-us #why-choose-us__top h2 {
      color: white;
      font-size: 28px;
      line-height: 28px; }
    #why-choose-us #why-choose-us__top p {
      margin-top: 24px;
      color: var(--light-cream); }
  #why-choose-us #why-choose-us__bottom #why-choose-us__list {
    padding: 36px 24px; }
    #why-choose-us #why-choose-us__bottom #why-choose-us__list .why-choose-us__item {
      background-color: var(); }
